@function grid($contador,$width,$col) {
  @return ($contador*$width)/$col;
}

@for $i from 1 through 12{
  .col-#{$i}{
    width:grid($i,100%,12);
  }
}
// @media(min-width: 768px){
//   @for $i from 1 through 12{
//     .col-#{$i}{
//       width:grid($i,768px,12);
//     }
//   }
// }
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    // padding: 2px;
}
