@function grid($contador,$width,$col) {
  @return ($contador*$width)/$col;
}

@for $i from 1 through 12{
  .col-#{$i}{
    width:grid($i,100%,12);
  }
}
@media(max-width: 768px){
  @for $i from 1 through 12{
    .col-xs-#{$i}{
      width:grid($i,100%,12);
    }
  }
}
@media(max-width: 980px){
  @for $i from 1 through 12{
    .col-md-#{$i}{
      width:grid($i,100%,12);
    }
  }
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    // padding: 2px;
}
